<div class="container">
        <div class="col-md-6">
            <%= form_with model: @post, url: public_posts_path do |f| %>
                    <table>
                        <div class="form-group">
                            <tr>
                                <th><%= f.label :画像 %></th>
                                <td><%= f.file_field :post_image, accept:"image/*" %></td>
                            </tr>
                            <tr>
                                <th><%= f.label :タイトル %></th>
                                <td><%= f.text_field :title %></td>
                            </tr>
                            <tr>
                                <th><%= f.label :内容 %></th>
                                <td><%= f.text_area :body %></td>
                            </tr>
                            <div class="form-group row" id="star">
                                <%= f.label :star, '評価', class: 'col-md-3 col-form-label'%>
                                <%= f.hidden_field :star, id: :review_star %>
                            </div>
                                <%= f.hidden_field :lat, id: :lat %>
                                <%= f.hidden_field :lng, id: :lng %>
                            <tr>
                                <th>
                                    <script>
                                        $('#star').empty();
                                        $('#star').raty({
                                          size     : 36,
                                          starOff:  '<%= asset_path('star-off.png') %>',
                                          starOn : '<%= asset_path('star-on.png') %>',
                                          scoreName: 'post[star]',
                                          half: false,
                                        });
                                    </script>
                                </th>    
                            </tr>    
                        </div>
                    </table> 
                <%= f.submit '投稿する' %>
            <% end %>
        </div>
        <input id="address" type='textbox' value="東京">
        <input type="button" value="検索" onclick="codeAddress()">
        
        <p>マーカーをドラック＆ドロップで位置の調整ができます。</p>
        <div id="map"></div>
        
        <style>
            #map {
                height: 600px;
                width: 100%;
            }
            
            #address {
                margin: 20px;
            }
        </style>
        
        <script>
            //初期マップの設定
            let map
            let marker
            let styles = [
               {
                stylers: [
                 { "saturation": 0 },
                 { "lightness": -70 },
                 { "hue": 10 }
                ]
               }
              ];
            function initMap(){
                // 現在地の特定
                navigator.geolocation.getCurrentPosition(function (position){
                // geocoder = new google.maps.Geocoder() //geocoder使用時の記述
                    LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: LatLng, //現在地
                        zoom: 15,
                        styles: styles
                    });
                    marker = new google.maps.Marker({
                                map: map,
                                position: LatLng,
                                draggable: true //ドラッグ可能にする
                    });
                    document.getElementById('lat').value = LatLng.lat();
                    document.getElementById('lng').value = LatLng.lng();
                })
            }
            
            //検索後のマップ作成
            let geocoder
            let aft
            function codeAddress(){
                let inputAddress = document.getElementById('address').value;
                geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                    if (status == 'OK') {
                        //マーカーが複数できないようにする
                        if (aft == true){
                            marker.setMap(null);
                        }
                        //新しくマーカーを作成する
                        map.setCenter(results[0].geometry.location);
                            marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location,
                                draggable: true //ドラッグ可能にする
                            });
                        //2度目以降か判断
                        aft = true
                        
                        //検索した時に緯度経度を入力する
                        document.getElementById('lat').value = results[0].geometry.location.lat();
                        document.getElementById('lng').value = results[0].geometry.location.lng();
                        
                        //マーカーのドロップ（ドラッグ終了）時のイベント
                        google.maps.event.addListener( marker, 'dragend', function(ev){
                            // イベントの引数evの、プロパティ.latLngが緯度経度
                            document.getElementById('lat').value = ev.latLng.lat();
                            document.getElementById('lng').value = ev.latLng.lng();
                        });
                    } else {
                        alert('該当する結果がありませんでした'　+ status);
                    }
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
    </div>    
</div>