<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="show">
            
            <style>
            #show {
            padding-left: 125px;
            }
            </style>
            
                <table>
                    <tbody>
                        <tr>
                            <th><p>ユーザーネーム</p><%= link_to public_user_path(@post.user.id), method: :get do %>
                                                         <%= @post.user.first_name %><%= @post.user.last_name %>
                                                     <% end %>
                            </th>
                        </tr>
                        <tr>
                            <td><%= image_tag @post.post_image, size: "600x400" %></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tag-box">
                                    <% @post.tags.each do |tag| %>
                                    <span class="label"><%= link_to tag.name, public_tag_posts_path(tag.id) %></span>
                                    <% end %>  
                                </div>    
                            </td>
                        </tr>
                        <tr>
                            
                            <td><p>タイトル</p><%= @post.title %></td>
                        </tr>
                        <tr>
                            
                            <td><p>内容</p><%= @post.body %></td>
                        </tr>
                        <tr>
                            <th>
                                <div id="star-rate<%= @post.id %>"></div>
                                    <script>
                                        $('#star-rate<%= @post.id %>').empty();
                                        $('#star-rate<%= @post.id %>').raty({
                                            size : 36,
                                            starOff : '<%= asset_path('star-off.png') %>',
                                            starOn : '<%= asset_path('star-on.png') %>',
                                            half : false,
                                            readOnly : true,
                                            score: <%= @post.star %>,
                                        });
                                    </script>
                            </th>        
                        </tr>
                        <tr>
                            <th class="favorite-btn">
                                <%= render 'public/favorites/favorite-btn', post: @post %>
                            </th>    
                        </tr>
                        <tr>
                            <% if user_signed_in? %>
                                <% if @post.user.id == current_user.id %>
                                <td>
                                    <%= link_to '投稿編集', edit_public_post_path(@post), class: "btn btn-lg btn-outline-success edit_post_#{@post.id}", data: {"turbolinks" => false} %>
                                </td>
                                <td>
                                    <%= link_to '投稿削除', public_post_path(@post), method: :delete, class: "btn btn-lg btn-outline-danger edit_post_#{@post.id}" %>
                                </td>
                                <% end %>
                            <% end %>    
                        </tr>
                    </tbody>
                </table>
        </div>    
        
        <div id='map'></div>
        <style>
            #map {
                height: 700px;
                width: 50%;
                padding-right: 50px;
            }
        </style>
        
        <!--js部分-->
        <script>
        //初期マップ設定
        let map
        let marker
        let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": -70 },
             { "hue": 10 }
            ]
           }
          ];
        function initMap(){
            geocoder = new google.maps.Geocoder()
            
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: <%= @post.lat %>, lng: <%= @post.lng %>},
                zoom: 15,
                styles: styles
            });
            
            marker = new google.maps.Marker({
                position: {lat: <%= @post.lat %>, lng: <%= @post.lng %>},
                map: map
            });
        }
        </script>
        
        
        <div id="comment_count">
          <p>コメント件数：<%= @post.post_comments.count %></p>
          <% @post.post_comments.each do |post_comment| %>
            <table>
                <tr>
                    <td>
                        <% if post_comment.user.profile_image.attached? %>
                        <%= image_tag post_comment.user.profile_image, size: "100x100" %>
                        <% else %>
                            <%= image_tag "yakei2.png", size: "100x100" %>
                        <% end %>
                    </td>
                    <td>
                        <%= post_comment.body %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= post_comment.user.first_name %><%= post_comment.user.last_name %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                    </td>    
                </tr>
                        
            </table>    
            <% if post_comment.user == current_user %>
                <%= link_to "削除", public_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
        <% if user_signed_in? %>
            <div id="comment">
              <%= form_with(model: [:public, @post, @post_comment], method: :post) do |f| %>
                <%= f.text_area :body, placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
        <% end %>      
            </div>
    </div>        
</div>

<style>
    #comment_count{
        padding-left: 125px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>