<div class="container-fluid">
    <div class="row" id="col">
            <table class="row table">
                <tbody>
                    <tr>
                        <th><h4>ユーザーネーム</h4></th>
                        <th><h4><%= @user.first_name %><%= @user.last_name %></h4></th>
                    </tr>
                    <tr>
                        <th><h4>ユーザーネーム（カナ）</h4></th></th></th>
                        <th><h4><%= @user.first_name_kana %><%= @user.last_name_kana %></h4></th>
                    </tr>
                    <tr>
                        <th><h4>自己紹介</h4></th>
                        <th><h4><%= @user.introduction %></h4></th>
                    </tr>
                    <tr>
                        <th>年齢</th>
                        <th><%= @user.age %></th>
                    </tr>
                    <tr>
                        <% if @user = current_user %>
                            <th>メールアドレス</th>
                            <th><%= @user.email %></th>
                        <% end %>    
                    </tr>
                </tbody>
            </table>
            <% if @user.id == 0001 %>
                <a id="guest">※ゲストユーザーは編集できません</a>
            <% elsif @user = current_user %>
                <%= link_to edit_public_user_path(current_user) do %>
                    <button type="button" class="btn btn-outline-info">
                        編集する
                    </button>
                <% end %>
            <% end %>    
    </div>
</div>

<style>
    #guest {
        color: red;
    }
    
    #col {
        padding-left: 500px;
    }
</style>