<header>			
    <nav class="navbar navbar-expand-lg navbar-dark" id="nav">			
        <div class="container">			
        <a class="navbar-brand" href="/"><span><%= image_tag 'constellation.png', size: '200x75' %></span></a>			
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">			
        <span class="navbar-toggler-icon"></span>			
        </button>			
            <div class="collapse navbar-collapse" id="navbarNavDropdown">			
                <ul class="navbar-nav ml-auto">			
                    <% if user_signed_in? %>			
                        <li>			
                         <%= link_to public_user_path(current_user), class: 'nav-link text-light' do %>			
                         マイページ			
                         <% end %>			
                        </li>
                        
                        <li>			
                         <%=  link_to public_posts_path, class: 'nav-link text-light', data: {"turbolinks" => false} do %>			
                         投稿一覧			
                         <% end %>			
                        </li>
                        
                        <li>
                         <%= link_to new_public_post_path, class: 'nav-link text-light', data: {"turbolinks" => false} do %>
                         新規投稿
                         <% end %>
                        </li>
                        
                        <li>			
                         <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>			
                         ログアウト		
                         <% end %>			
                        </li>			
                        		
                    <% elsif admin_signed_in? %>
                        <li>			
                         <%= link_to admin_users_path, class: 'nav-link text-light' do %>			
                         ユーザー一覧			
                         <% end %>			
                        </li>
                        
                        <li>			
                         <%=  link_to admin_posts_path, class: 'nav-link text-light', data: {"turbolinks" => false} do %>			
                         投稿一覧			
                         <% end %>			
                        </li>
                        
                        <li>			
                         <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>			
                         ログアウト		
                         <% end %>			
                        </li>
                        			
                    <% else %>			
                        
                        <li>			
                         <%= link_to public_posts_path, class: 'nav-link text-light' do %>			
                         投稿一覧			
                         <% end %>			
                        </li>
                        
                        <li>			
                         <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>			
                         新規登録			
                         <% end %>			
                        </li>
                        
                        <li>			
                         <%= link_to new_user_session_path , class: 'nav-link text-light' do %>			
                         ログイン			
                         <% end %>			
                        </li>			
                    <% end %>			
                </ul>			
            </div>			
        </div>			
    </nav>			
</header>		

<style>
    #nav {
        background-color: rgb(7 5 70);
    }
</style>