<!DOCTYPE html>
<html>
  <head>
    <title>YakeMio</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <%= render 'layouts/header' %>
    <div id="flash">
      <%= flash[:notice] %>
    </div>  
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>

<style>
  #body {
    background-color: rgb(7 5 70);
    color: white;
  }
  
  #flash {
    color: white;
  }
</style>